In [ ]:
# 1. Write a program to reverse a string.

def reverse_string(input_string):
  new_string =""
  for i in range(len(input_string)-1,-1,-1):
    new_string += input_string[i]
  return new_string

input_string=input("Enter the string to be reversed:")

print(reverse_string(input_string))

Enter the string to be reversed:gcfcgv
vgcfcg

In [ ]:
# 2. Check if a string is a palindrome.
def palindrome(string):
  i,j=0,len(string)-1
  for i in range(int(len(string)/2)):
    if string[i]!=string[j-i]:
      return "The string is not a palindrome:"
  return "The string is a palindrome"

string=str(input("enter the string:"))
print(palindrome(string))

enter the string:nishant
The string is not a palindrome:

In [ ]:
# 3. Convert a string to uppercase.
input_string = input("Enter a string: ")

# Convert the string to uppercase using the upper() method
uppercase_string = input_string.upper()

# Display the uppercase string
print("Uppercase string:", uppercase_string)

Enter a string: bdhbhsb
Uppercase string: BDHBHSB

In [ ]:
# 4.Convert a string to lowercase.
input_string = input("Enter a string: ")


lowercase_string = input_string.lower()

# Display the lowercase string
print("Lowercase string:", lowercase_string)

Enter a string: HDBVHSBF
Lowercase string: hdbvhsbf

In [ ]:
# 5. Count the number of vowels in a string.
def countvowel(string):

  vowels="aeiou"
  count=0
  for char in string.lower():
    if char in vowels:
      count=count+1
  return count

string = input("enter the string :")
countvowel(string)

enter the string :aeghIOf

4

In [ ]:
# 6.Count the number of consonants in a string.

def count_consonants(input_string):

    vowels = "AEIOUaeiou"
    count = 0

    for char in input_string:
        # Check if the character is an alphabet letter and not a vowel
        if char.isalpha() and char not in vowels:
            count += 1

    return count


input_string = input("Enter a string: ")
consonant_count = count_consonants(input_string)
print("Number of consonants in the string:", consonant_count)

In [ ]:
# 7. Remove all whitespaces from a string.
def removewhitespace(input_string):
  new_string = input_string.replace(" ","")
  return new_string

input_string=str(input("enter the string"))
print(removewhitespace(input_string))

enter the stringnish kumar
nishkumar

In [ ]:
# 8. Find the length of a string without using the `len()` function.
def string_length(string):
    count = 0
    for char in string:
        count += 1
    return count

# Example usage:
my_string = "Hello, World!"
length = string_length(my_string)
print("Length of the string:", length)

Length of the string: 13

In [ ]:
# 9. Check if a string contains a specific word.
text = "This is a sample text with a specific word."
specific_word = "specific"

if specific_word in text:
    print("The string contains the specific word.")
else:
    print("The string does not contain the specific word.")

The string contains the specific word.

In [ ]:
# 10. Replace a word in a string with another word.
text = "This is a sample text with a specific word."
new_text =text.replace("sample","try")
print(new_text)

This is a try text with a specific word.

In [ ]:
# 11. Count the occurrences of a word in a string.
text = "This is a sample text with a specific word."
specific_word = "specific"
print(text.count(specific_word))

1

In [ ]:
# 12. Find the first occurrence of a word in a string.
text = "This is a sample text with a word. This word is repeated."
word_to_find = "word"

index = text.find(word_to_find)

if index != -1:
    print(f"The word '{word_to_find}' first occurs at index {index}.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

The word 'word' first occurs at index 29.

In [ ]:
# 13. Find the last occurrence of a word in a string.
text = "This is a sample text with a word. This word is repeated, and the last word is here."
word_to_find = "word"

index = text.rfind(word_to_find)

if index != -1:
    print(f"The word '{word_to_find}' last occurs at index {index}.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

The word 'word' last occurs at index 71.

In [ ]:
# 14. Split a string into a list of words.
text = "This is a sample text with a word. This word is repeated, and the last word is here."
new_text=text.split()
print(new_text)

['This', 'is', 'a', 'sample', 'text', 'with', 'a', 'word.', 'This', 'word', 'is', 'repeated,', 'and', 'the', 'last', 'word', 'is', 'here.']

In [ ]:
# 15. Join a list of words into a string.
# List of words
words = ["This", "is", "a", "list", "of", "words"]

# Join the list of words into a string using a space as a separator
sentence = ' '.join(words)

print(sentence)

This is a list of words

In [ ]:
# 16.Convert a string where words are separated by spaces to one where words are separated by underscores.
input_string = "This is a sample string with spaces"
output_string = input_string.replace(" ", "_")
print(output_string)

This_is_a_sample_string_with_spaces

In [ ]:
# 17. Check if the string starts with a specific word or phrase
input_string = "Hello, world! This is a sample string."
specific_word = "Hello"
if input_string.startswith(specific_word):
    print(f"The string starts with '{specific_word}'.")
else:
    print(f"The string does not start with '{specific_word}'.")

The string starts with 'Hello'.

In [ ]:
# 18.Check if a string ends with a specific word or phrase.
input_string = "This is a sample string. It ends with 'string.'"
specific_word = "string."
if input_string.endswith(specific_word):
    print(f"The string ends with '{specific_word}'.")
else:
    print(f"The string does not end with '{specific_word}'.")

The string does not end with 'string.'.

In [ ]:
# 19.Convert a string to title case (e.g., "hello world" to "Hello World").
input_string = "hello world"
title_case_string = input_string.title()
print(title_case_string)

Hello World

In [ ]:
# 20. Find the longest word in a string.
input_string = "This is a sample string with several words of different lengths."

# Split the string into words
words = input_string.split()


# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

# Iterate through the words to find the longest word
for word in words:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word

print(f"The longest word is: {longest_word} (length: {max_length}).")

The longest word is: different (length: 9).

In [ ]:
# 21. Find the shortest word in a string.
input_string = "This is a sample string with several words of different lengths."

# Split the string into words
words = input_string.split()

# Initialize variables to store the shortest word and its length
shortest_word = None
min_length = float('inf')  # Initialize to positive infinity to ensure any word is shorter

# Iterate through the words to find the shortest word
for word in words:
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word

if shortest_word:
    print(f"The shortest word is: {shortest_word} (length: {min_length}).")
else:
    print("No words found in the string.")

The shortest word is: a (length: 1).

In [ ]:
# 22.Reverse the order of words in a string.
input_string = "This is a sample string."

# Split the string into words
words = input_string.split()

# Reverse the order of words
reversed_words = words[::-1]

# Join the reversed words back into a string
reversed_string = ' '.join(reversed_words)

print(reversed_string)

string. sample a is This

In [ ]:
# 23. Check if a string is alphanumeric.
input_string = "Hello123"

if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [ ]:
# 24. Extract all digits from a string.


input_string = "This is a sample string with 123 and 4567 digits."
split_string = input_string.split()

list=[]

for word in split_string:
  if word.isdigit():
    list.append(word)
print(list)

['123', '4567']

In [ ]:
# 25. Extract all alphabets from a string.
input_string = "This is a sample string with 123 and 4567 digits."
list = []

for word in input_string:

  if word.isalpha():
    list.append(word)

print(list)

['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 't', 'r', 'i', 'n', 'g', 'w', 'i', 't', 'h', 'a', 'n', 'd', 'd', 'i', 'g', 'i', 't', 's']

In [ ]:
# 26. Count the number of uppercase letters in a string.
input_string = "This is a Sample String With Uppercase Letters."

# Initialize a count for uppercase letters
uppercase_count = 0

# Iterate through the characters in the string
for char in input_string:
    if char.isupper():
        uppercase_count += 1

print(f"The number of uppercase letters is: {uppercase_count}")

The number of uppercase letters is: 6

In [ ]:
# 27. Count the number of lowercase letters in a string.
input_string = "This is a Sample String With Lowercase Letters."

# Initialize a count for lowercase letters
lowercase_count = 0

# Iterate through the characters in the string
for char in input_string:
    if char.islower():
        lowercase_count += 1

print(f"The number of lowercase letters is: {lowercase_count}")

The number of lowercase letters is: 33

In [ ]:
# 28. Swap the case of each character in a string.
input_string = "This is a Sample String."

# Swap the case of each character in the string
swapped_string = input_string.swapcase()

print(swapped_string)

tHIS IS A sAMPLE sTRING.

In [ ]:
# 29. Remove a specific word from a string.
input_string = "This is a sample sentence. Let's remove 'sample' from it."
word_to_remove = "sample"

# Remove the specific word from the string
modified_string = input_string.replace(word_to_remove, '')

print(modified_string)

This is a  sentence. Let's remove '' from it.

In [ ]:
# 30.Check if a string is a valid email address.
import re

def is_valid_email(email):
    # Define a simple regular expression for email validation
    pattern = r'^\S+@\S+\.\S+'

    # Use re.match to check if the string matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False

# Test cases
email1 = "user@example.com"
email2 = "invalid_email"
email3 = "another_user@example.co.uk"

print(f"{email1} is valid: {is_valid_email(email1)}")
print(f"{email2} is valid: {is_valid_email(email2)}")
print(f"{email3} is valid: {is_valid_email(email3)}")

user@example.com is valid: True
invalid_email is valid: False
another_user@example.co.uk is valid: True

In [ ]:
# 31.Extract the username from an email address string.
import re

def extract_username(email):
    # Define a regular expression pattern to match the username part of the email
    pattern = r'^(.+)@.+$'

    # Use the re module to search for the pattern in the email
    match = re.match(pattern, email)

    # Check if a match was found
    if match:
        # Extract the username from the first capturing group
        username = match.group(1)
        return username
    else:
        return None

# Example usage
email = "example.user@email.com"
username = extract_username(email)
if username:
    print("Username:", username)
else:
    print("Invalid email address")

Username: example.user

In [ ]:
# 32.Extract the domain name from an email address string.
import re

def extract_domain(email):
    # Define a regular expression pattern to match the domain part of the email
    pattern = r'@(.+)$'

    # Use the re module to search for the pattern in the email
    match = re.search(pattern, email)

    # Check if a match was found
    if match:
        # Extract the domain from the first (and only) capturing group
        domain = match.group(1)
        return domain
    else:
        return None

# Example usage
email = "example.user@email.com"
domain = extract_domain(email)
if domain:
    print("Domain:", domain)
else:
    print("Invalid email address")

Domain: email.com

In [ ]:
# 33. Replace multiple spaces in a string with a single space.
def replace_multiple_spaces_with_single_space(input_string):
    # Split the input string by spaces
    parts = input_string.split()


    # Join the parts with a single space
    return ' '.join(parts)

# Example usage
input_string = "This   is   an   example    with    multiple    spaces."
output_string = replace_multiple_spaces_with_single_space(input_string)
print(output_string)

['This', 'is', 'an', 'example', 'with', 'multiple', 'spaces.']
This is an example with multiple spaces.

In [ ]:
# 34.Check if a string is a valid URL.
import re

def is_valid_url(url):
    # Define a regular expression pattern for a valid URL
    pattern = r"^(https?|ftp)://[^\s/$.?#].[^\s]*$"

    # Use the re module to check if the string matches the pattern
    return bool(re.match(pattern, url))

# Example usage
url = "https://www.example.com"
if is_valid_url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [ ]:
# 35. Extract the protocol (http or https) from a URL string.
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    if parsed_url.scheme:
        return parsed_url.scheme
    else:
        return None

# Example usage
url = "https://www.example.com"
protocol = extract_protocol(url)
if protocol:
    print("Protocol:", protocol)
else:
    print("No protocol found in the URL")

Protocol: https

In [ ]:
# 36. Find the frequency of each character in a string.
def character_frequency(string):
    # Create an empty dictionary to store character frequencies
    char_count = {}

    # Iterate through the characters in the string
    for char in string:
        # If the character is already in the dictionary, increment its count
        if char in char_count:
            char_count[char] += 1
        # If the character is not in the dictionary, add it with a count of 1
        else:
            char_count[char] = 1

    return char_count

# Example usage
input_string = "hello, world!"
frequency = character_frequency(input_string)

# Print the character frequencies
for char, count in frequency.items():
    if char.isprintable():  # Filter out non-printable characters
        print(f"'{char}': {count}")

'h': 1
'e': 1
'l': 3
'o': 2
',': 1
' ': 1
'w': 1
'r': 1
'd': 1
'!': 1

In [ ]:
# 37. Remove all punctuation from a string.
import string

test_str = 'Gfg, is best: for ! Geeks ;'

test_str = test_str.translate
    (str.maketrans('', '', string.punctuation))
print(test_str)

IndentationError: ignored

In [ ]:
# 38. Check if a string contains only digits.
def is_digits_only(input_string):
    return input_string.isdigit()

# Example usage
input_string = "12345"
result = is_digits_only(input_string)
print(result)  # True

input_string = "12345abc"
result = is_digits_only(input_string)
print(result)  # False

True
False

In [ ]:
# 39. Check if a string contains only alphabets.
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Example usage
input_string = "abcdef"
result = contains_only_alphabets(input_string)
print(result)  # True

input_string = "abc123"
result = contains_only_alphabets(input_string)
print(result)  # False

True
False

In [ ]:
# 40. Convert a string to a list of characters.
input_string = "Hello, World!"
char_list = list(input_string)

print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [9]:
# 41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase (assuming case-insensitive anagrams)
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the lengths of the two strings are different; if so, they can't be anagrams
    if len(str1) != len(str2):
        return False

    # Create dictionaries to store character frequencies
    char_count1 = {}
    char_count2 = {}

    # Count character frequencies in the first string
    for char in str1:
      if char in char_count1:
            char_count1[char] += 1
        # If the character is not in the dictionary, add it with a count of 1
      else:
            char_count1[char] = 0


    # Count character frequencies in the second string
    for char in str2:
      if char in char_count2:
            char_count2[char] += 1
        # If the character is not in the dictionary, add it with a count of 1
      else:
            char_count2[char] = 0


    # Compare the two dictionaries to see if they have the same character frequencies
    return char_count1 == char_count2

# Example usage:
str1 = "listen"
str2 = "silent"
if are_anagrams(str1, str2):
    print(f"{str1} and {str2} are anagrams.")
else:
    print(f"{str1} and {str2} are not anagrams.")

listen and silent are anagrams.

In [10]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
    result = ""

    for char in text:
        # Check if the character is an uppercase letter
        if char.isupper():
            shifted_char = chr(((ord(char) - 65 + shift) % 26) + 65)
        # Check if the character is a lowercase letter
        elif char.islower():
            shifted_char = chr(((ord(char) - 97 + shift) % 26) + 97)
        else:
            # If the character is not a letter, leave it unchanged
            shifted_char = char

        result += shifted_char

    return result

# Example usage:
text = "Hello, World!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print(f"Original text: {text}")
print(f"Encoded text: {encoded_text}")

Original text: Hello, World!
Encoded text: Khoor, Zruog!

In [ ]:
#43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(encoded_text, shift):
    return caesar_cipher(encoded_text, -shift)

# Example usage:
encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print(f"Encoded text: {encoded_text}")
print(f"Decoded text: {decoded_text}")

In [11]:
#44. Find the most frequent word in a string.

def mostFrequentWord(arr, n):

	# freq to store the freq of the most occurring variable
	freq = 0

	# res to store the most occurring string in the array of strings
	res = ""

	# running nested for loops to find the most occurring
	# word in the array of strings
	for i in range(0, n, 1):
		count = 0
		for j in range(i + 1, n, 1):
			if arr[j] == arr[i]:
				count += 1

		# updating our max freq of occurred string in the
		# array of strings
		if count >= freq:
			res = arr[i]
			freq = count

	print("The word that occurs most is : " + str(res))
	print("No of times: " + str(freq))



# given set of keys
arr = [ "geeks", "for", "geeks", "a", "portal", "to", "learn", "can", "be", "computer", "science", "zoom", "yup", "fire", "in", "be", "data", "geeks",]
n = len(arr)

# function call
mostFrequentWord(arr, n)

The word that occurs most is : geeks
No of times: 2

In [21]:
#45.Find all unique words in a string.
def unique(str):
  list = str.split()

  char_count = {}


    # Count word frequencies in the first string
  for word in list:
      if word in char_count:
             char_count[word] += 1
        # If the character is not in the dictionary, add it with a count of 1
      else:
             char_count[word] = 1

  for word in char_count:
      if char_count[word] == 1:
            print(word)



# Driver code
input_string = "king  kumar is king "

# function call
unique(input_string)

kumar
is

In [21]:
#46. Count the number of syllables in a string.

def count_syllables(word):
    # Convert the word to lowercase and remove non-alphabetic characters
    word = re.sub(r'[^a-zA-Z]', '', word.lower())

    if len(word) <= 3:
        # Words with 1-3 characters are typically treated as one syllable
        return 1
    else:
        # Use a basic rule to estimate syllables (count the number of vowel groups)
        vowels = "aeiouy"
        num_syllables = 0
        prev_char = ''
        for char in word:
            if char in vowels and prev_char not in vowels:
                num_syllables += 1
            prev_char = char
        # Adjust for common word endings
        if word.endswith("e"):
            num_syllables -= 1
        if word.endswith("le"):
            num_syllables += 1
        if num_syllables == 0:
            num_syllables = 1
        return num_syllables

def count_syllables_in_text(text):
    words = re.findall(r'\b\w+\b', text)
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage:
text = "The quick brown fox jumps over the lazy dog"
syllable_count = count_syllables_in_text(text)
print(f"Total syllables in the text: {syllable_count}")

In [22]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = r"[^a-zA-Z0-9\s]"

    # Use re.search to find a match
    match = re.search(pattern, input_string)

    # If a match is found, the string contains special characters
    if match:
        return True
    else:
        return False

# Example usage:
text1 = "This is a regular sentence."
text2 = "This one contains a special character: !"
if contains_special_characters(text1):
    print("text1 contains special characters.")
else:
    print("text1 does not contain special characters.")

if contains_special_characters(text2):
    print("text2 contains special characters.")
else:
    print("text2 does not contain special characters.")

text1 contains special characters.
text2 contains special characters.

In [25]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the provided position 'n' is valid
    if 1 <= n <= len(words):
        # Remove the nth word (subtract 1 because lists are zero-based)
        words.pop(n-1)

        # Reconstruct the string by joining the remaining words
        result_string = " ".join(words)
        return result_string
    else:
        # If 'n' is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence for testing the function."
n = 3  # Remove the 3rd word, which is "a"
result = remove_nth_word(input_string, n)
print(result)

This is sample sentence for testing the function.

In [26]:
#49. Insert a word at the nth position in a string.
def insert_word_at_nth_position(input_string, word_to_insert, n):
    # Split the string into words
    words = input_string.split()

    # Check if the provided position 'n' is valid
    if 0 <= n <= len(words):
        # Insert the word at the nth position
        words.insert(n, word_to_insert)

        # Reconstruct the string by joining the words
        result_string = " ".join(words)
        return result_string
    else:
        # If 'n' is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence for testing the function."
word_to_insert = "new"
n = 3  # Insert the word at the 3rd position, after "a"
result = insert_word_at_nth_position(input_string, word_to_insert, n)
print(result)

This is a new sample sentence for testing the function.

In [27]:
#50. Convert a CSV string to a list of lists.
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a file-like object from the CSV string
    csv_file = StringIO(csv_string)

    # Initialize a CSV reader
    reader = csv.reader(csv_file)

    # Convert the CSV data into a list of lists
    data = [row for row in reader]

    return data

# Example usage:
csv_string = "Name,Age,Location\nAlice,25,New York\nBob,30,Los Angeles\nCharlie,22,Chicago"
csv_data = csv_string_to_list(csv_string)
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'Chicago']

In [28]:
# List Based Practice Problem :

In [30]:
#1. Create a list with integers from 1 to 10.
list =[]
for i in range(1,11):
  list.append(i)

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#2. Find the length of a list without using the `len()` function.
def length(l):
  count=0
  for word in list:
    count+=1
  print(count)

# Driver code
list=[1,2,3,4,5,6,7,8]
length(list)

8

In [37]:
#3. Append an element to the end of a list.
l=[1,2,3,4,'Nishant']
l.append(5)
print(l)

[1, 2, 3, 4, 'Nishant', 5]

In [38]:
#4.Insert an element at a specific index in a list.
l=[1,2,3,4,'Nishant']
l.insert(2,'kumar')
print(l)

[1, 2, 'kumar', 3, 4, 'Nishant']

In [39]:
#5. Remove an element from a list by its value.
# Sample list
my_list = [1, 2, 3, 4, 5]

# Value to remove
value_to_remove = 3

# Check if the value is in the list before removing it (optional)
if value_to_remove in my_list:
    my_list.remove(value_to_remove)
else:
    print(f"{value_to_remove} is not in the list.")

# Print the updated list
print(my_list)

[1, 2, 4, 5]

In [40]:
#6. Remove an element from a list by its index.
# Sample list
my_list = [1, 2, 3, 4, 5]

# Index of the element to remove
index_to_remove = 2  # This will remove the element with value 3 (0-based index)

# Remove the element at the specified index
my_list.pop(index_to_remove)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

In [41]:
#7. Check if an element exists in a list.
# Sample list
my_list = [1, 2, 3, 4, 5]

# Element to check for
element_to_check = 6

# Check if the element does not exist in the list
if element_to_check not in my_list:
    print(f"{element_to_check} does not exist in the list.")
else:
    print(f"{element_to_check} exists in the list.")

6 does not exist in the list.

In [42]:
#8. Find the index of the first occurrence of an element in a list.
# Sample list
my_list = [1, 2, 3, 4, 5]

# Element to find the index of
element_to_find = 3

# Find the index of the first occurrence of the element
if element_to_find in my_list:
    index = my_list.index(element_to_find)
    print(f"The index of {element_to_find} is {index}.")
else:
    print(f"{element_to_find} is not in the list.")

The index of 3 is 2.

In [43]:
#9. Count the occurrences of an element in a list.
# Sample list
my_list = [1, 2, 3, 2, 4, 2, 5]

# Element to count
element_to_count = 2

# Count the occurrences of the element in the list
count = my_list.count(element_to_count)
print(f"The element {element_to_count} appears {count} times in the list.")

The element 2 appears 3 times in the list.

In [44]:
#10. Reverse the order of elements in a list.
# Sample list
my_list = [1, 2, 3, 4, 5]

# Reverse the list using slicing
reversed_list = my_list[::-1]

# Print the reversed list
print(reversed_list)

[5, 4, 3, 2, 1]

In [1]:
# 11. Sort a list in ascending order.
# Sample list
my_list = [5, 1, 4, 2, 3]

# Sort the list in ascending order using the sort() method (in-place)
my_list.sort()

# Print the sorted list (my_list has been modified)
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
# 12. Sort a list in descending order.
# Sample list
my_list = [5, 1, 4, 2, 3]

# Sort the list in descending order using the sort() method (in-place)
my_list.sort(reverse=True)

# Print the sorted list in descending order (my_list has been modified)
print(my_list)

[5, 4, 3, 2, 1]

In [3]:
# 13. Create a list of even numbers from 1 to 20.
list =[]
for i in range(1,21):
  if i%2==0:
    list.append(i)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
#14.Create a list of odd numbers from 1 to 20.
list =[]
for i in range(1,21):
  if i%2!=0:
    list.append(i)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:
#15.  Find the sum of all elements in a list.
list = [1,2,3,4,5,6]
sum =0
for digit in list:
  sum = sum +digit
print(sum)

21

In [7]:
#16.Find the maximum value in a list.
list = [20,2,5,1,3,6]
print(max(list))

20

In [8]:
#17. Find the minimum value in a list.
list = [20,2,5,1,3,6]
print(min(list))

1

In [18]:
#18. Create a list of squares of numbers from 1 to 10.
list =[]
for i in range(1,11):
  list.append(i*i)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
#19. Create a list of random numbers.
import random

# Generate a list of 10 random numbers between 1 and 100 (inclusive)
random_numbers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random numbers
print(random_numbers)

[45, 79, 37, 32, 26, 75, 14, 93, 55, 28]

In [21]:
#20. Remove duplicates from a list.
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Initialize an empty list to store unique elements
unique_list = []

# Iterate through the original list
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 4, 5, 6]

In [23]:
#21.Find the common elements between two lists.
list1 = [1,2,5,2,8]
list2 = [2,3,4,6,5]
list = []
for item in list1:
  if item in list2:
    list.append(item)
print(list)

[2, 5, 2]

In [26]:
#22. Find the difference between two lists.
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

temp3 = []
for element in li1:
	if element not in li2:
		temp3.append(element)

print(temp3)

[10, 15, 20, 30]

In [27]:
#23. Merge two lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 6]

In [29]:
#24. Multiply all elements in a list by 2.
original_list = [1, 2, 3, 4, 5]
doubled_list = []

for item in original_list:
    doubled_list.append(item * 2)

print(doubled_list)

[2, 4, 6, 8, 10]

In [31]:
#25. Filter out all even numbers from a list.
# Define a function to check if a number is even
def is_even(number):
    return number % 2 == 0

# Sample list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use the filter() function to filter out even numbers
even_numbers = list(filter(is_even, numbers))

print(even_numbers)

TypeError: ignored

In [32]:
#26. Convert a list of strings to a list of integers.
# Sample list of strings
string_list = ["1", "2", "3", "4", "5"]

# Initialize an empty list to store the integers
int_list = []

for string in string_list:
    integer = int(string)
    int_list.append(integer)

print(int_list)

[1, 2, 3, 4, 5]

In [33]:
#27. Convert a list of integers to a list of strings.
# Sample list of strings
int_list = [1, 2, 3, 4, 5]

# Initialize an empty list to store the integers
string_list = []

for integer in int_list:
    string = str(integer)
    string_list.append(string)

print(string_list)

['1', '2', '3', '4', '5']

In [34]:
#28. Flatten a nested list.
def flatten_nested_list(nested_list):
    flat_list = []
    stack = [nested_list]

    while stack:
        current = stack.pop()
        for item in current:
            if isinstance(item, list):
                stack.append(item)
            else:
                flat_list.append(item)

    return flat_list

# Sample nested list
nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Flatten the nested list
flat_list = flatten_nested_list(nested_list)

print(flat_list)

TypeError: ignored

In [43]:
#29. Create a list of the first 10 Fibonacci numbers.
def fibonacci(n):
  if n ==0:
    return 0
  elif n==1:
    return 1
  else:
      return fibonacci(n-1)+fibonacci(n-2)

for i in range(0,10):
  print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
#30.Check if a list is sorted.
def issorted(list):
  i=0
  while i<len(list):
    if list[i]>list[i+1]:
      return False
  return True

l=[1,3,2,4,5]
print(issorted(l))

In [1]:
# 31. Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    # Ensure n is within the range of the list length
    n = n % len(lst)

    # Perform the rotation using slicing
    rotated = lst[n:] + lst[:n]

    return rotated

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate left

rotated_list = rotate_left(my_list, n)
print(rotated_list)

[3, 4, 5, 1, 2]

In [2]:
# 32. Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    # Ensure n is within the range of the list length
    n = n % len(lst)

    # Perform the rotation using slicing
    rotated = lst[-n:] + lst[:-n]

    return rotated

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate right

rotated_list = rotate_right(my_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

In [3]:
# 33. Create a list of prime numbers up to 50.
def chunk_list(input_list, n):
    for i in range(0, len(input_list), n):
        yield input_list[i:i + n]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunked_list = list(chunk_list(my_list, chunk_size))
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
#34. Split a list into chunks of size `n`.
def split_into_chunks(input_list, n):
    for i in range(0, len(input_list), n):
        yield input_list[i:i + n]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunked_list = list(split_into_chunks(my_list, chunk_size))
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
#35. Find the second largest number in a list.
def find_second_largest(numbers):
    if len(numbers) < 2:
        return None  # Not enough elements to find a second largest

    largest = max(numbers)
    second_largest = 0


    for number in numbers:
        if number != largest and number > second_largest:
          second_largest = number

    return second_largest

# Example usage:
my_list = [11, 5, 7, 3, 9,10, 8, 6]
result = find_second_largest(my_list)
print("The second largest number is:", result)

The second largest number is: 10

In [8]:
# 36. Replace every element in a list with its square.
original_list = [1, 2, 3, 4, 5]

squared_list = [x**2 for x in original_list]

print(squared_list)

[1, 4, 9, 16, 25]

In [9]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'cherry', 'date']

my_dict = {element: index for index, element in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [10]:
# 38.Shuffle the elements of a list randomly.
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the list in-place
random.shuffle(my_list)

print(my_list)

[5, 4, 2, 3, 1]

In [11]:
#39. Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(n) for n in range(1, 11)]

print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [13]:
#40. Check if two lists have at least one element in common.
def have_common_element(list1, list2):

  for ele in list1:
    if ele in list2:

      return True
  return False


# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

if have_common_element(list1, list2):
    print("The lists have at least one element in common.")
else:
    print("The lists have no common elements.")

The lists have at least one element in common.

In [17]:
#41. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]
my_list.clear()

In [24]:
#42. Replace negative numbers in a list with 0.
my_list = [1, -2, 3, -4, 5, -6]

for i in range(len(my_list)):
  if my_list[i] < 0:
    my_list[i] =0


print(my_list)

[1, 0, 3, 0, 5, 0]

In [19]:
#43. Convert a string into a list of words.
text = "This is a sample sentence."

# Split the string into a list of words
word_list = text.split()

print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

In [25]:
#44. Convert a list of words into a string.
word_list = ['This', 'is', 'a', 'list', 'of', 'words']

# Convert the list of words into a string
resulting_string = ' '.join(word_list)

print(resulting_string)

This is a list of words

In [26]:
# 45.Create a list of the first `n` powers of 2.
n = 5  # Replace with the desired number of powers of 2

powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

In [27]:
# 46. Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "fig"]

# Find the longest string
longest_string = max(string_list, key=len)

print("The longest string is:", longest_string)

The longest string is: banana

In [28]:
#47.  Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "fig"]

# Find the shortest string
shortest_string = min(string_list, key=len)

print("The shortest string is:", shortest_string)

The shortest string is: fig

In [29]:
#48.  Create a list of the first `n` triangular numbers.
n = 5

triangular_numbers = []
current_sum = 0

for i in range(1, n + 1):
    current_sum += i
    triangular_numbers.append(current_sum)

print(triangular_numbers)

[1, 3, 6, 10, 15]

In [30]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(main_list, subsequence):
    main_length = len(main_list)
    subseq_length = len(subsequence)
    i = j = 0

    while i < main_length and j < subseq_length:
        if main_list[i] == subsequence[j]:
            j += 1
        i += 1

    return j == subseq_length

# Example usage:
main_list = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

if is_subsequence(main_list, subsequence):
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

In [31]:
# 50. Swap two elements in a list by their indices.
def swap_elements_by_indices(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]

my_list = [1, 2, 3, 4, 5]

# Swap elements at index 1 and 3
swap_elements_by_indices(my_list, 1, 3)

print(my_list)

[1, 4, 3, 2, 5]

In [ ]:
# Tuple Based Practice Problem :

In [32]:
# 1. Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)

In [1]:
#2.Access the third element of a tuple.
my_tuple = (1,2,3,4,5)
ele = my_tuple[2]
print(ele)

3

In [3]:
# 3. Find the length of a tuple without using the `len()` function.
my_tuple = (1,2,3,4,5)
count =0
for e in my_tuple:
  count+=1
print("Length of my tuple:",count)

Length of my tuple: 5

In [4]:
# 4. Count the occurrences of an element in a tuple.
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2  # Change this to the element you want to count
count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [5]:
# 5. Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 3, 4, 2, 5)
element_to_find = 2  # Change this to the element you want to find
index = None  # Initialize the index to None

for i in range(len(my_tuple)):
    if my_tuple[i] == element_to_find:
        index = i
        break

if index is not None:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not in the tuple.")

The first occurrence of 2 is at index 1.

In [6]:
# 6. Check if an element exists in a tuple.
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3  # Change this to the element you want to check

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [7]:
# 7. Convert a tuple to a list.
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [8]:
# 8. Convert a list to a tuple.
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [9]:
# 9. Unpack the elements of a tuple into variables.
my_tuple = (1, 2, 3)
var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 1
var2: 2
var3: 3

In [10]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers = tuple(x for x in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

In [11]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers = tuple(x for x in range(1, 11) if x % 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [12]:
# 12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [13]:
# 13. Repeat a tuple three times.
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [14]:
# 14. Check if a tuple is empty.
my_tuple = ()  # This is an empty tuple

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [15]:
# 15. Create a nested tuple.
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [17]:
# 16. Access the first element of a nested tuple.
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple)

element = nested_tuple[0][0]  # Accessing the element 5
print(element)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1

In [19]:
# 17. Create a tuple with a single element.
single_element_tuple = (42)
print(single_element_tuple)

42

In [20]:
# 18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Equal
if tuple1 == tuple2:
    print("tuple1 and tuple2 are equal.")
else:
    print("tuple1 and tuple2 are not equal.")

# Not equal
if tuple1 != tuple2:
    print("tuple1 and tuple2 are not equal.")
else:
    print("tuple1 and tuple2 are equal.")

# Greater than
if tuple1 > tuple2:
    print("tuple1 is greater than tuple2.")
else:
    print("tuple1 is not greater than tuple2.")

# Less than
if tuple1 < tuple2:
    print("tuple1 is less than tuple2.")
else:
    print("tuple1 is not less than tuple2.")

tuple1 and tuple2 are not equal.
tuple1 and tuple2 are not equal.
tuple1 is not greater than tuple2.
tuple1 is less than tuple2.

In [23]:
# 19. Delete a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Deleting the entire tuple
del my_tuple

In [24]:
# 20. Slice a tuple.
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice to get elements from index 2 (inclusive) to index 7 (exclusive)
sliced_tuple = original_tuple[2:7]

print(sliced_tuple)

(3, 4, 5, 6, 7)

In [26]:
# 21. Find the maximum value in a tuple.
my_tuple = (15, 8, 27, 10, 36, 21)

max_value = max(my_tuple)
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 36

In [27]:
# 22. Find the minimum value in a tuple.
my_tuple = (15, 8, 27, 10, 36, 21)

min_value = min(my_tuple)
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 8

In [1]:
# 23. Convert a string to a tuple of characters.
my_string = "Hello"
char_tuple = tuple(my_string)
print(char_tuple)

('H', 'e', 'l', 'l', 'o')

In [2]:
# 24. Convert a tuple of characters to a string.
char_tuple = ('H', 'e', 'l', 'l', 'o')
resulting_string = ''.join(char_tuple)
print(resulting_string)

Hello

In [3]:
# 25. Create a tuple from multiple data types.
my_tuple = (1, "Hello", 3.14, [1, 2, 3], {"name": "John", "age": 30})
print(my_tuple)

(1, 'Hello', 3.14, [1, 2, 3], {'name': 'John', 'age': 30})

In [4]:
# 26. Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (3, 2, 1)

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are not identical.

In [5]:
# 27. Sort the elements of a tuple.
my_tuple = (5, 3, 1, 4, 2)
sorted_list = sorted(my_tuple)
sorted_tuple = tuple(sorted_list)

print(sorted_tuple)

(1, 2, 3, 4, 5)

In [6]:
# 28. Convert a tuple of integers to a tuple of strings.
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(x) for x in int_tuple)
print(str_tuple)

('1', '2', '3', '4', '5')

In [7]:
# 29. Convert a tuple of strings to a tuple of integers.
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(x) for x in str_tuple)
print(int_tuple)

(1, 2, 3, 4, 5)

In [8]:
# 30.Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [10]:
# 31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return flat_list

nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flat_tuple = tuple(flatten_tuple(nested_tuple))
print(flat_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [11]:
# 32. Create a tuple of the first 5 prime numbers.
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

In [26]:
# 33. Check if a tuple is a palindrome.
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]

# Test if a tuple is a palindrome
my_tuple = (1, 2, 3, 3, 2, 1)
result = is_palindrome_tuple(my_tuple)

if result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [27]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [28]:
# 35. Filter out all even numbers from a tuple.
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [29]:
# 36. Multiply all elements in a tuple by 2.
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in original_tuple)
print(doubled_tuple)

(2, 4, 6, 8, 10)

In [30]:
# 37. Create a tuple of random numbers.
import random

# Generate a tuple of 5 random integers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(76, 63, 18, 2, 63)

In [31]:
# 38. Check if a tuple is sorted.
def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))

# Test if a tuple is sorted
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (4, 2, 1, 5, 3)

result_sorted = is_sorted_tuple(sorted_tuple)
result_unsorted = is_sorted_tuple(unsorted_tuple)

if result_sorted:
    print("The sorted_tuple is sorted.")
else:
    print("The sorted_tuple is not sorted.")

if result_unsorted:
    print("The unsorted_tuple is sorted.")
else:
    print("The unsorted_tuple is not sorted.")

The sorted_tuple is sorted.
The unsorted_tuple is not sorted.

In [32]:
# 39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(input_tuple, n):
    if not input_tuple:
        return input_tuple

    n = n % len(input_tuple)
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    return rotated_tuple

# Test the rotation function
original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_tuple_left(original_tuple, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [33]:
# 40. Rotate a tuple to the right by `n` positions.
def rotate_tuple_right(input_tuple, n):
    if not input_tuple:
        return input_tuple

    n = n % len(input_tuple)
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    return rotated_tuple

# Test the rotation function
original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_tuple_right(original_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [34]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)

# Generate a tuple of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)
print(first_5_fibonacci)

(0, 1, 1, 2, 3)

In [3]:
# 42.Create a tuple from user input.

# Collect user input as a comma-separated string
user_input = input("Enter comma-separated values to create a tuple: ")

# Split the input string into a list of values
input_list = user_input.split(',')

# Convert the list into a tuple
user_tuple = tuple(input_list)

# Print the resulting tuple
print("Tuple created from user input:", user_tuple)

Enter comma-separated values to create a tuple: 1,2,3,4,5
Tuple created from user input: ('1', '2', '3', '4', '5')

In [4]:
# 43. Swap two elements in a tuple.

# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Swap two elements (e.g., swap the first and second elements)
my_list[0], my_list[1] = my_list[1], my_list[0]

# Convert the list back to a tuple
my_swapped_tuple = tuple(my_list)

# Print the swapped tuple
print("Original Tuple:", my_tuple)
print("Swapped Tuple:", my_swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (2, 1, 3, 4, 5)

In [5]:
# 44. Reverse the elements of a tuple.
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [6]:
# 45 . Create a tuple of the first `n` powers of 2.
n = 5  # Change 'n' to the number of powers of 2 you want

# Create a tuple of the first 'n' powers of 2
powers_of_2_tuple = tuple(2**i for i in range(n))

# Print the tuple
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

In [7]:
# 46 . Find the longest string in a tuple of strings.
# Create a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "fig")

# Initialize a variable to store the longest string
longest_string = ""

# Iterate through the tuple
for string in string_tuple:
    if len(string) > len(longest_string):
        longest_string = string

# Print the longest string
print("Longest string:", longest_string)

Longest string: banana

In [8]:
# 47.  Find the shortest string in a tuple of strings.

# Create a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "fig")

# Initialize a variable to store the shortest string
shortest_string = None  # Use None to represent that we haven't found the shortest string yet

# Iterate through the tuple
for string in string_tuple:
    if shortest_string is None or len(string) < len(shortest_string):
        shortest_string = string

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: fig

In [9]:
# 48 .Create a tuple of the first `n` triangular numbers.
n = 5  # Change 'n' to the number of triangular numbers you want

# Create a tuple of the first 'n' triangular numbers
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple
print(triangular_numbers)

(1, 3, 6, 10, 15)

In [10]:
# 49 . Check if a tuple contains another tuple as a subsequence.
def is_subsequence(sub, main):
    sub_len = len(sub)
    main_len = len(main)
    i = 0  # Index for the main tuple

    for j in range(sub_len):
        while i < main_len and main[i] != sub[j]:
            i += 1

        if i >= main_len:
            return False

        i += 1

    return True

# Example usage
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (2, 4, 6)

if is_subsequence(sub_tuple, main_tuple):
    print("The subtuple is a subsequence of the main tuple.")
else:
    print("The subtuple is not a subsequence of the main tuple.")

The subtuple is a subsequence of the main tuple.

In [11]:
# 50 . Create a tuple of alternating 1s and 0s of length `n`.
n = 10  # Change 'n' to the desired length of the tuple

# Create a tuple of alternating 1s and 0s of length 'n'
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Print the tuple
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [12]:
# Set Based Practice Problem :

In [13]:
# 1. Create a set with integers from 1 to 5.
my_set = {1, 2, 3, 4, 5}

In [14]:
# 2.  Add an element to a set.
my_set = {1, 2, 3, 4, 5}
element_to_add = 6
my_set.add(element_to_add)

In [15]:
# 3. Remove an element from a set.
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3

try:
    my_set.remove(element_to_remove)
except KeyError:
    print(f"{element_to_remove} is not in the set.")

# The set now contains {1, 2, 4, 5}

In [16]:
# 4. Check if an element exists in a set.
my_set = {1, 2, 3, 4, 5}
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [17]:
#5. Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5}
count = 0

for _ in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [18]:
# 6. Clear all elements from a set.
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print("The set after clearing:", my_set)  # This will print an empty set: set()

The set after clearing: set()

In [19]:
# 7. Create a set of even numbers from 1 to 10.
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

In [20]:
# 8.  Create a set of odd numbers from 1 to 10.
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

In [21]:
# 9. Find the union of two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)

In [22]:
#10. Find the intersection of two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1.intersection(set2)

In [23]:
# 11. Find the difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1.difference(set2)

In [24]:
# 12 . Check if a set is a subset of another set.

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

In [25]:
# 13 . Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}

is_superset = set1.issuperset(set2)

In [26]:
# 14. Create a set from a list.
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

In [27]:
# 15 . Convert a set to a list.
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

In [30]:
# 16. Remove a random element from a set.
my_set = {1, 2, 3, 4, 5}

# Remove a random element
removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [31]:
# 17. Pop an element from a set.
my_set = {1, 2, 3, 4, 5}

# Pop an element
popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [32]:
# 18. Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

In [34]:
# 19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference_set = set1.symmetric_difference(set2)

print(symmetric_difference_set)

{1, 2, 3, 6, 7, 8}

In [37]:
# 20. Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In [1]:
# 21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def generate_primes(count):
    primes = set()
    num = 2
    while len(primes) < count:
        if is_prime(num):
            primes.add(num)
        num += 1
    return primes

first_5_primes = generate_primes(5)
print(first_5_primes)

{2, 3, 5, 7, 11}

In [2]:
# 22. Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [3]:
# 23. Create a frozen set.
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

print("Original Set:", my_set)
print("Frozen Set:", frozen_set)

Original Set: {1, 2, 3, 4, 5}
Frozen Set: frozenset({1, 2, 3, 4, 5})

In [4]:
# 24. Check if a set is disjoint with another set.
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

In [5]:
# 25. Create a set of squares of numbers from 1 to 5.
numbers = {1, 2, 3, 4, 5}
squares = {x**2 for x in numbers}

print("Original Set:", numbers)
print("Set of Squares:", squares)

Original Set: {1, 2, 3, 4, 5}
Set of Squares: {1, 4, 9, 16, 25}

In [6]:
# 26. Filter out all even numbers from a set.
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {x for x in original_set if x % 2 != 0}

print("Original Set:", original_set)
print("Filtered Set (odd numbers only):", filtered_set)

Original Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered Set (odd numbers only): {1, 3, 5, 7, 9}

In [7]:
# 27. Multiply all elements in a set by 2.
original_set = {1, 2, 3, 4, 5}
multiplied_set = {x * 2 for x in original_set}

print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [8]:
# 28. Create a set of random numbers.
import random

random_set = {random.randint(1, 100) for _ in range(5)}

print("Random Set:", random_set)

Random Set: {99, 10, 75, 49, 27}

In [9]:
# 29. Check if a set is empty.
# Method 1: Using len()
my_set = set()

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.
The set is empty.

In [10]:
# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8})}

print("Nested Set:", nested_set)

Nested Set: {frozenset({3, 4, 5}), frozenset({8, 6, 7}), frozenset({1, 2})}

In [11]:
# 31. Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}

# Removing element 3 using discard()
my_set.discard(3)

print("Set after removing element 3:", my_set)

Set after removing element 3: {1, 2, 4, 5}

In [12]:
# 32. Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [13]:
# 33. Create a set from a string.
my_string = "hello"
my_set = set(my_string)

print("Original String:", my_string)
print("Set from String:", my_set)

Original String: hello
Set from String: {'l', 'e', 'h', 'o'}

In [14]:
# 34. Convert a set of strings to a set of integers.
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}

print("Set of Strings:", set_of_strings)
print("Set of Integers:", set_of_integers)

Set of Strings: {'2', '4', '5', '3', '1'}
Set of Integers: {1, 2, 3, 4, 5}

In [15]:
# 35. Convert a set of integers to a set of strings.
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}

print("Set of Integers:", set_of_integers)
print("Set of Strings:", set_of_strings)

Set of Integers: {1, 2, 3, 4, 5}
Set of Strings: {'4', '5', '1', '2', '3'}

In [16]:
# 36. Create a set from a tuple.
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print("Original Tuple:", my_tuple)
print("Set from Tuple:", my_set)

Original Tuple: (1, 2, 3, 4, 5)
Set from Tuple: {1, 2, 3, 4, 5}

In [17]:
# 37. Convert a set to a tuple.
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

print("Original Set:", my_set)
print("Tuple from Set:", my_tuple)

Original Set: {1, 2, 3, 4, 5}
Tuple from Set: (1, 2, 3, 4, 5)

In [18]:
# 38. Find the maximum value in a set.
my_set = {10, 5, 8, 15, 3}
max_value = max(my_set)

print("Original Set:", my_set)
print("Maximum Value in Set:", max_value)

Original Set: {3, 5, 8, 10, 15}
Maximum Value in Set: 15

In [19]:
#39. Find the minimum value in a set.
my_set = {10, 5, 8, 15, 3}
min_value = min(my_set)

print("Original Set:", my_set)
print("Minimum Value in Set:", min_value)

Original Set: {3, 5, 8, 10, 15}
Minimum Value in Set: 3

In [20]:
#40. Create a set from user input.
user_input = input("Enter elements separated by spaces: ")

# Split the user input into a list and convert each element to an integer
elements = [int(x) for x in user_input.split()]

# Create a set from the list of integers
my_set = set(elements)

print("Set from User Input:", my_set)

Enter elements separated by spaces: 1 2 3 4 5
Set from User Input: {1, 2, 3, 4, 5}

In [21]:
# 41. Check if the intersection of two sets is empty.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The sets have no common elements (intersection is empty).")
else:
    print("The sets have common elements.")

The sets have common elements.

In [22]:
# 42. Create a set of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

first_5_fibonacci = generate_fibonacci(5)
print("Set of the first 5 Fibonacci numbers:", first_5_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [23]:
# 43. Remove duplicates from a list using sets.
original_list = [1, 2, 3, 1, 4, 2, 5, 6]

# Use set to remove duplicates and convert it back to a list
unique_list = list(set(original_list))

print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 3, 1, 4, 2, 5, 6]
List with Duplicates Removed: [1, 2, 3, 4, 5, 6]

In [24]:
# 44. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1, 1}  # Adding duplicates and extra elements

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [25]:
# 45 .  Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):
    powers_of_2_set = {2 ** i for i in range(n)}
    return powers_of_2_set

n = 5
first_n_powers_of_2 = generate_powers_of_2(n)
print(f"Set of the first {n} powers of 2:", first_n_powers_of_2)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [26]:
# 46 . Find the common elements between a set and a list.
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = set(my_list) & my_set

print("Set:", my_set)
print("List:", my_list)
print("Common Elements:", common_elements)

Set: {1, 2, 3, 4, 5}
List: [3, 4, 5, 6, 7]
Common Elements: {3, 4, 5}

In [27]:
# 47 . Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
    return triangular_numbers_set

n = 5
first_n_triangular_numbers = generate_triangular_numbers(n)
print(f"Set of the first {n} triangular numbers:", first_n_triangular_numbers)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [28]:
# 48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 6}

if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [29]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = 5
alternating_set = {i % 2 for i in range(n)}

print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 5: {0, 1}

In [30]:
# 50 . Merge multiple sets into one.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1 | set2 | set3

print("Set 1:", set1)
print("Set 2:", set2)
print("Set 3:", set3)
print("Merged Set:", merged_set)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Set 3: {5, 6, 7}
Merged Set: {1, 2, 3, 4, 5, 6, 7}